.scale {
}

.label {
  height: var(--hour-height);
  position: absolute;
  width: 100%;
  top: calc(var(--hour) * var(--hour-height));

  time {
    position: absolute;
    top: -0.5em;
    line-height: 1;
    font-size: 11px;
    color: #888;

    @media (min-width: 768px) {
      font-size: 12px;
    }
  }
}

.gridline {
  height: 1px;
  background-color: var(--gridline-color);
  position: absolute;
  margin: 0;
  border: 0;
}

.quarter {
  composes: gridline;
  width: calc(0.5 * var(--scale-size));
}

.half {
  composes: gridline;
  width: calc(0.75 * var(--scale-size));
}

.full {
  composes: gridline;
  width: calc(100% - var(--scale-size));
  left: var(--scale-size);
}
