.table {
  --scale-size: 48px;
  --gridline-color: #eee;
  --z-top: 86400;

  padding: 8px;

  @media (min-width: 768px) {
    --scale-size: 64px;
  }

  header,
  main {
    display: grid;
    grid-template-columns: var(--scale-size) repeat(var(--days), 1fr);
  }

  main {
    --hour-height: 96px;
    --second-height: calc(var(--hour-height) / 3600);

    position: relative;
  }
}

.col {
  border-left: 1px solid var(--gridline-color);
  position: relative;
  height: calc(var(--hour-height) * 24);
}

.indicator {
  position: absolute;
  top: calc(var(--secs) * var(--second-height));
  height: 1px;
  width: 100%;
  background-color: red;
  z-index: var(--z-top);

  &::before {
    position: absolute;
    display: block;
    content: "";
    left: 0;
    height: 8px;
    width: 8px;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: red;
    border-radius: 100%;
  }
}
